.main-container {
  width: 90%;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  // align-items: center;
}

#map {
  flex: 0 0 550px;
  height: calc(100vh - 40px);
  position: sticky !important;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  top: 0 !important;
  margin-left: 50px;
  margin-top: 20px;
}

.route-box {
  border: 1px solid lightgray;
  width: calc(100vw - 550px);
  border-radius: 4px;
  min-height: calc(100vh - 60px);
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  padding: 50px;
  background-color: $light-gray;
  margin-top: 20px;
  margin-right: 16px;
  // width: calc(100vh - 400px);
}

.route-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid gray;
  padding-bottom: 20px;
  strong {
    letter-spacing: 2px;
  }
}

.route-name {

}

.route-description {
  margin: 30px 0px 30px 0px;
  color: gray;
  font-size: 18px;
  line-height: 25px;
  text-align: justify;
}

.route-items {
  text-align: center;
  border-bottom: 0.5px solid lightgray;
  margin-bottom: 20px;
  padding-bottom: 8px;
}

.route-items h5 {
  text-align: left;
}


.route-points {

}

.route-points:hover {
  font-weight: bolder;
  padding-left: 5px;
  color: $dark-green;
}

.route-information {
  text-align: center;
  border-bottom: 0.5px solid lightgray;
  margin-bottom: 20px;
  padding-bottom: 8px;
}

.route-information-box {
  display: flex;
  justify-content: space-between;
}

.route-owner {
  margin-top: 20px;
  padding-top: 8px;
  border-top: 0.5px solid lightgray;
  letter-spacing: 2px;
}

.show-btns {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 40px;
}
