<h2>City Hikes - Your Exported Route</h2>

<p>Hi <%= @user.first_name %>,</p>
<p>here is the link to the route you just exported. Have fun on your City Hike and don't forget to review the route afterwards.</p>
<a href="<%= @gmaps_url %>" target="_blank"><%= @route.name %></a>
<p>All the best,</p>
<p>City Hikes</p>
