.box_info {
  display: flex;
  justify-content: space-around;
  border: 1px solid lightgray;
  border-radius: 4px;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  padding: 50px;
  background-color: $light-gray;
}

.profile_picture {
  border-radius: 3px;
}

.font-weight-bold {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  color: black;
  font-size: 22px;
  flex-grow: 1;
  padding-bottom: 60px;
  padding-top: 79px;
}

.container-box-user-profile{
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  background-color: #FEFEFE;
  margin-bottom: 132px;
  margin-right: 97px;
  margin-left: 104px;
}


.card-profile {
  border-radius: 6px;
  display: flex;
  height: 120px;
  width: 120px;
}

.background-image-profile {
  padding-top: 83px;
}

.title-profile {
  color: white;
}

.box-routes-profile {
  justify-content: flex-start;
  flex-wrap: wrap;
}

.left-box-user-profile {
  padding: 36px;
}

.right-box-user-profile {
  padding: 36px;
}

.KPI, .cities {
  border-top: 2px solid #E0E1E2;
  border-width: 2px;
  padding-top: 24px;
  margin-top: 48px;
}

.profile-marker{
  margin-right: 8px;
}

.user-info {
  display: flex;
  justify-content: space-between;
}

.routes-user-profile {
  overflow:hidden;
  width: 797px;
  border-top: 2px solid #E0E1E2;
  border-width: 2px;
}

.edit_profile {
  padding: 38px;
}

.kpi_info .username_profile {
 padding-top: 8px;
 margin-bottom: 0px;
 font-size: 15px;
 color: #a2a6aa;
}

.button-edit-profile:hover {
  text-decoration: none;
}

/////////////////////////////


.group-card-profile:hover {
  opacity: 1;
  background: #ccd3db;
  transition: 1.5s infinite ease-in-out;
}

.group-card-profile {
  float: left;
  margin: 10px;
  width: 220px;
  height: 265px;
  border-radius: 5px;
  background-color: white;
}

.card-title-profile {
  position: absolute;
  padding: 30px 0 0 15px;
  color: white;
  font-family: proxima nova;
  font-weight: bold;
  font-size: 1em;
  z-index: 1;
}

.overlay-profile{
  position: absolute;
  width: 220px;
  height: 86px;
  border-radius: 3px 3px 0 0 ;
  background: rgba(28,36,46,0.55);
}

.mini-banner-profile {
  width: 220px;
  height: 125px;;
  border-radius: 3px 3px 0 0 ;
  background-size: cover;
  background-position: center;
  z-index: 0;
}

.card-route-profile {
  padding-left: 10px;
  padding-top: 10px;
  color: #8aae92;
  font-family: proxima nova;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}

.tab-1-profile {
  display: flex;
  flex-direction: row;
}
