.box_info {
  display: flex;
  justify-content: space-around;
  border: 1px solid lightgray;
  border-radius: 4px;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  padding: 50px;
  background-color: $light-gray;
}

.profile_picture {
  border-radius: 3px;
}

.font-weight-bold {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  color: black;
  font-size: 22px;
  flex-grow: 1;
}

.container-box{
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  background-color: #FEFEFE;
}


.card-profile {
  border-radius: 46px;
  display: flex;
}

.background-profile {
  background-color: #4AE8B3;
  padding-top: 83px;
}

.title-profile {
  color: white;
}

.box-routes-profile {
  justify-content: flex-start;
  flex-wrap: wrap;
}

.left-box {
  padding: 36px;
}

.right-box {
  padding: 36px;
}

.KPI, .cities {
  border-top: 2px solid #E0E1E2;
  border-width: 2px;
  padding-top: 24px;
  margin-top: 48px;
}

.flex-row {
  display: flex;
  flex-direction: row;
  color: #E0E1E2
}

.profile-marker{
  margin-right: 8px;
}

.user-info {
  display: flex;
  justify-content: space-between;
}

.routes {
  overflow:hidden;
  width: 797px;
  border-top: 2px solid #E0E1E2;
  border-width: 2px;
}
