// Define variables for your color scheme

// For example:
$red: #EE5F5B;
// $blue: #469AE0;
$blue: #8aae92; // SH: Trying out to use our green for primary buttons
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;



// New Colors
$light-green: #f4f9f4;
$dark-green: #8aae92;
$gray: #616161;
$light-gray: #F4F4F4;
