.edit-view{
  display: flex;
  justify-content: space-around;
  text-align: center;
  width: 100%;
  margin-top: 60px;
}

.current-sights {
  flex-grow: 1.5;
  text-align: left;
}

h4 {
  text-align: center;
  margin-bottom: 30px;
  border-bottom: 0.5px solid $dark-green;
  padding-bottom: 5px;
}
.search-sights{
  flex-grow: 2;
}

.info-sights {
  flex-grow: 1.5;
}

.edit-card {
  padding: 20px;
  border-radius: 6px;
  margin: 5px;
  box-shadow: 1px 1px 2px 1px rgba(200, 200, 200, 0.75);
  color: grey;
  font-weight: lighter;
  line-height: 25px;
  height: 450px;
  align-items: center;
}

.list-inline {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.delete-button {
  border-radius: 10px;
  background-color: $dark-green;
  color: white;
}

.delete-button:hover {
  color: black;
}

.sight-item:hover {
  font-weight: bolder;
}

.create-sight-btn {
  border: 2px solid #8aae92;
  background-color: #8aae92;
  color: white;
  border-radius: 10px;
}

.sight-li{
  display:flex;
  justify-content: space-between;
}
