.banner-tiny {

}

.banner-info-route {
  width: 90%;
  margin: 0px auto;
  h3 {
    padding-top: 30px;
    font-weight: bolder;
    font-size: 50px;
    text-transform: uppercase;
    letter-spacing: 6px;
  }
}
.route-info-header {
  color: white;
  text-align: center
}

.banner-tiny-text {
  display: flex;
  justify-content: space-around;
  color: white;
  // width: 500px;
}

.edit-container {
  max-width: 80%;
  margin: auto auto;
}

.grid-container {
  overflow: hidden;
}

.grid-container h4 {
  text-align: center;
  padding-top: 16px;
  font-size: 32px;
  letter-spacing: 2px;
  h6 {
    text-align: center;
    margin-bottom: 10px;
  }
}

// .w-sight-name{
//   justify-content: flex-start;
// }

.edit-view{
  display: flex;
  justify-content: space-around;
  text-align: center;
  width: 100%;
}

.current-sights {
  flex-grow: 1.5;
  text-align: left;
  li {
    line-height: 20px;
    padding: 5px 0px 5px 0px;
    border-bottom: 1px solid $dark-green;
  h6 {
    text-align: center;
    font-weight: light;

  }
  }
}

.search-sights{
  // flex-grow: 2;
}

.info-sights {
  // flex-grow: 1.5;
}

.edit-card {
  border-radius: 6px;
  box-shadow: 1px 1px 2px 1px rgba(200, 200, 200, 0.75);
  color: grey;
  font-weight: lighter;
  line-height: 25px;
  align-items: center;
}

.list-inline {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.delete-button {
  border-radius: 10px;
  background-color: $dark-green;
  color: white;
}

.delete-button:hover {
  color: black;
}

.sights-header {
  padding: 20px 0 20px 0;
}

.sight-item:hover {
  font-weight: bolder;
}

.create-sight-btn {
  border: 2px solid #8aae92;
  background-color: #8aae92;
  color: white;
  border-radius: 10px;
}

.sight-li {
  display:flex;
  justify-content: space-between;
}

.info_text {
  width: 100%;
  text-align: justify;
  text-justify: inter-word;
  padding: 20px;

}

.info_image {
  width: 180px;
  text-align: center;
  line-height: 0.5;
  border-radius: 3px;
  padding-bottom: 10px;
  margin-top: 45px;
}

.info-sights p {
  font-size: 16px;
  padding-right: 67px;
  line-height: 32px;
}


#results {
  list-style-type: none;
  padding: 8px;
}

#results li {
  margin: 10px 0px 10px 0px;

}

#results a {
  margin-bottom: 10px;
  margin-top: 10px;
}

#results a.btn {
  border-radius: 10px;
}

#current-city {
  margin-top: 5px;
  margin-bottom: 5px;
}

#map {
  border-radius: 3px;
  box-shadow: 2px 2px 4px 2px rgba(200, 200, 200, 0.75);
  flex: 0 0 550px;
  height: calc(100vh - 40px);
  position: sticky !important;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  top: 0 !important;
  margin-left: -0px !important;
}


#route-distance {
  font-size: 24px;
  opacity: 0.9;
}

#route-time {
  font-size: 24px;
  opacity: 0.9;
}

#sight_search {
  padding: 0 10px 0 10px;
  width: 600px;
  margin: 25px auto;
}

#dragdrop {
  height: calc(100vh - 40px);
  text-align: center;
}

#movable {
  margin-left: 7px;
  padding-left: 0;
  padding-right: 10px;
  font-size: 14px;
  color: #525252;
}

.movable{
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.movable-li {
  width: 100px;
}

#explanation {
  // font-style: italic;
  text-align: center;
  font-weight: 200;
}

.edit-list-moveable li {
  margin: 5px;
}

.route-info {
  font-size: 16px;
}

.delete-button {
  margin-top: 10px;
}

.waypoint {
  display: flex;
  justify-content: space-between;
}

.fa-bars {
  opacity: 0.5;
  color: $dark-green;

}

.return-and-save-button {
  text-align: center;
  margin-top: 10px;
  border-radius: 7px;
}

// Grid Design

.grid-container {
  display: grid;
  grid-template-rows: 15% 35% 50%;
  grid-template-columns: 35% 65%;
  width: 85%;
  margin: 5px auto;
  padding: 5px;
}

.grid-search {
  grid-row: 1 / span 100%;
  grid-column: 1 / span 2;
}

.grid-info {
  grid-row: 2 / span 100%;
  grid-column: 1 / span 2;
}

.grid-list {
  grid-row: 3 / span 35%;
  grid-column: 1 / span 1;
  height: calc(100vh - 40px);
  margin-right: 20px;
  margin-top: 20px;
}

.grid-map {
  grid-row: 3 / span 65%;
  grid-column: 2 / span 1;
}

@media(max-width) {
  .grid-container {
    display: block;
  }
}
