.edit-container {
  max-width: 80%;
  margin: auto auto;
}

.grid-container {
  overflow: hidden;
}

.grid-container h4 {
  text-align: center;
  margin-bottom: 20px;
  border-bottom: 0.5px solid $dark-green;
  padding-bottom: 5px;
  h6 {
    text-align: center;
    margin-bottom: 10px;
  }
}
.edit-view{
  display: flex;
  justify-content: space-around;
  text-align: center;
  width: 100%;
  margin-top: 20px;
}

.current-sights {
  flex-grow: 1.5;
  text-align: left;
  li {
    line-height: 20px;
    padding: 5px 0px 5px 0px;
    border-bottom: 1px solid $dark-green;
  h6 {
    text-align: center;
    font-weight: light;
  }
  }
}

.search-sights{
  flex-grow: 2;
}

.info-sights {
  flex-grow: 1.5;
  width: 400px;
}

.edit-card {
  padding: 20px;
  border-radius: 6px;
  margin: 5px;
  box-shadow: 1px 1px 2px 1px rgba(200, 200, 200, 0.75);
  color: grey;
  font-weight: lighter;
  line-height: 25px;
  align-items: center;
}

.list-inline {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.delete-button {
  border-radius: 10px;
  background-color: $dark-green;
  color: white;
}

.delete-button:hover {
  color: black;
}

.sight-item:hover {
  font-weight: bolder;
}

.create-sight-btn {
  border: 2px solid #8aae92;
  background-color: #8aae92;
  color: white;
  border-radius: 10px;
}

.sight-li {
  display:flex;
  justify-content: space-between;
}

.info_text {
  width: 100%;
  text-align: justify;
  text-justify: inter-word;
}

.info_image {
  width: 180px;
  text-align: center;
  line-height: 0.5;
  border-radius: 3px;
  margin-top: 5px;
}

.info-sights p {
  font-size: 12px;
}

.map-box {
  position: relative;
  margin: 0px 50px 0px 0px;
}

#results {
  list-style-type: none;
  padding: 8px;
}

#results li {
  margin: 10px 0px 10px 0px;

}

#results a {
  margin-bottom: 10px;
  margin-top: 10px;
}

#results a.btn {
  border-radius: 10px;
}

#current-city {
  margin-top: 5px;
  margin-bottom: 5px;
}

#map {
  border-radius: 3px;
  box-shadow: 2px 2px 4px 2px rgba(200, 200, 200, 0.75);
  margin: 10px auto;
}


#movable{

}

.movable{
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.movable-li {
  width: 100px;
}


.edit-list-moveable li {
  margin: 5px;
}

.delete-button {
  margin-top: 10px;
}

.waypoint {
  display: flex;
  justify-content: space-between;
}

.fa-bars {
  opacity: 0.5;
  color: $dark-green;
}
