.landing-page-banner {
  height: calc(100vh - 70px);
  background-size: cover;
}

.landing-page-banner-slogan {
  text-align: center;
  color: white;
  text-shadow: 1px 1px black;
  font-size: 24pt;
}

.bo-align-items-center {
  height: 100% !important;
  display: flex !important;
  align-items: center !important;
}

.landing-page-search-bar {
  display: flex;
  flex-direction: row;
}
