.landing-page-banner {
  height: calc(100vh - 70px);
  background-size: cover;
}

.landing-page-banner-slogan {
  text-align: center;
  color: white;
  text-shadow: 1px 1px black;
  font-size: 24pt;
}

@media(min-width: 640pt) {
  .landing-page-banner-slogan  {
    font-size: 32pt;
  }
}

@media(min-width: 1280pt) {
  .landing-page-banner-slogan  {
    font-size: 48pt;
  }
}

.bo-align-items-center {
  height: 100% !important;
  display: flex !important;
  align-items: center !important;
}

.landing-page-search-bar {
  display: flex;
  flex-direction: row;
}

.landing-page-grid {
  display: grid;
  grid-column-gap: 40px;
  grid-template-columns: 3fr 2fr;
  grid-template-rows: auto auto;
}

.landing-page-city-grid {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: space-between;
}

@media(max-width: 640pt) {
  .landing-page-city-grid {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .landing-page-map-grid {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

.landing-page-city {
  background-size: cover;
  width: 300px;
  height: 200px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  border-radius: 2px;

  h2 {
    color: white;
    text-shadow: 1px 1px black;
  }

  &:hover {
    filter: brightness(0.7);
  }
}

#landing-page-map {
  position: sticky !important; /* !important to override Gmaps inline CSS */
  top: 0 !important;
}

.test-div {
  background-color: purple;
  width: 100%;
  height: 30vh;
}

.test-box {
  background-color: blue;
  width: 100px;
  height: 50px;
}

