
#current_city {
  display: none;
}

.main-search-bar {
    position: absolute;
    margin-top: 450px;
    z-index: 99;
}

.form-control {
  background-color: transparent;
  border-radius: 15px;
  border-color: #8aae92;
  border-width: 3px;
}



