<div class="banner-small" style="background-image: linear-gradient(-225deg, rgba(0,60,20,0.6) 0%, rgba(0,36,80,0.6) 50%), url('<%= image_url 'landing-banner.jpg' %>');">
  <div class="banner-content">
    <% if City.where(locality: @city).exists? %>
      <h1>City Hikes in <%=@city.capitalize%></h1>
      <% else %>
      <h1>City Hikes</h1>
    <% end %>
    <p>- Explore amazing routes throughout the city -</p>
  </div>
</div>
