<div class="footer" style="background-image: linear-gradient(180deg, rgba(130,110,82,0.7) 70%, rgba(0,0,0,1) 80%), url('<%= image_url 'footer-img.jpg' %>');">
  <div class="footer-links">
    <a href="https://www.github.com"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
</div>
