<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

<div class="homepage-hero-module">
  <div class="video-container">
    <div class="filter" ></div>
    <div class="col-sm-6 col-sm-offset-3">
      <div class="main-search-bar" style="margin-top: 30vh">
        <h4>Get inspired on your journey</h4>
        <%= form_tag routes_path, method: :get do %>
        <div class="search-bar-home-page">
           <%= text_field_tag :query, params[:query], class: "form-control style-text", placeholder: "Search a city to hike..." %>
            <%= submit_tag "Search", class:"btn btn-primary search_button_main_page" %>
        </div>
        <% end %>
      </div>
    </div>
    <div class="full-video-bg"  style="background-image: linear-gradient(-225deg, rgba(20,20,20,0.6), rgba(20,20,20,0.6)), url('<%= image_url 'background-planning-trip.jpg' %>');">
      <img src="landing-page-pic.jpg" alt="">
    </div>
  </div>
</div>
