<div class="landing-page">
  <div><%= render 'pages/landing-video' %></div>
  <h2><i class="icon1 far fa-arrow-alt-circle-down">&nbsp;&nbsp;&nbsp;&nbsp;Check out our recommended Hikes&nbsp;&nbsp;&nbsp;&nbsp;<i class="icon2 far fa-arrow-alt-circle-down"></i></h2>
  <%= render 'shared/cards-small', routes: @routes %>
</div>

