<div class="landing-page">
  <div><%= render 'pages/landing-video' %></div>
  <div class="flex-header-home">
    <i class="far fa-arrow-alt-circle-down"></i>
    <h2>Check out our recommended Hikes</h2>
    <i class="far fa-arrow-alt-circle-down"></i>
  </div>
  <%= render 'shared/cards-small', routes: @routes %>
</div>

