.create_new_route_btn {
  display: flex;
  justify-content: center;
}

.city-form {
  display:flex;
  justify-content: space-around;
}

// #city-form {
//   width: 100%;
//   text-align: center
// }

// .route_city {
//   width: 80%;
// }

#edit-return-btn {
  display: flex;
  justify-content: center;
}


.small-button {
  border-radius: 10px;
  background-color: $dark-green;
  color: white;
}

.small-button:hover {
  color: black;
}
