.card-small {
  position: relative;
  justify-content: center;
  align-items: center;
  color: black;
  height: 300px;
  margin: 50px;
  background-size: cover !important;
  background-position: center;
  border-radius: 9px;
}
// .card-id {
//   position: absolute;
//   top: 3px;
//   left: 8px;
//   font-size: 14px;
// }
.card-small-description {
  position: relative;
  font-size: 14px;
  opacity: 0.9;
  color: white;
  font-weight: lighter;
  top: 230px;
  left: 8px;
}

.card-small-link {
  position: absolute;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}

.card-small-name {
  position: absolute;
  color: dark-gray;
  justify-content: center;
  top: 3px;
  left: 16px;
  font-weight: bolder;
}

.card-small-name:hover {

}

.card-small-owner {
  position: absolute;
  color: white;
  top: 0.5px;
  right: 8px;
  font-size: 14px;
  padding: 3px;
  border: 0.5px solid white;
  border-radius: 7px;
}

.card-small-owner:hover {
  font-size: bolder;
}
// .card-link:hover {
//   opacity: 0.1;
// }

