.card {
  color: black;
  min-height: 300px;
  width: auto;
  height: auto;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 1px 1px 2px 1px rgba(200, 200, 200, 0.75);
  margin-top: 15px;
}

.card-image {
  width: 50%;
  background-size: cover !important;
  padding: 10px;
  border-radius: 5px;
}

.card-details {
  font-family: 'Quicksand', sans-serif;
  display: flex;
  flex-direction: column;
  padding: 30px 20px 20px 10px;
}

.card-details:hover {
  text-decoration: none;
}

.card-name {
  font-family: 'Space Mono', monospace;
  font-weight: bolder;
  border-bottom: 0.5px solid $dark-green;
  padding-bottom: 4px;
  padding-left: 3px;
  color: $dark-green;
}

.card-hashtags {
  color: $dark-green;
  font-size: 18px;
  left: 5px;
  margin-top: 3px;
  padding-left: 3px;
}

.card-description {
  font-size: 16px;
  opacity: 0.7;
  font-weight: lighter;
  margin-top: 20px;
  text-align: justify;
  line-height: 25px;
  padding-left: 3px;
  color: grey;
}

.card-owner {
  font-size: 14px;
  padding-left: 3px;
  opacity: 0.6;
  margin-top: 5px;
  color: grey;
}

.card-owner:hover {
  color: grey;
  font-weight: bolder;

}

.card-name-and-city {
  display: flex;
  justify-content: space-between;
}

.route-details {
  display: flex;
  justify-content: space-between;
  margin-top: 36px;
  margin-left: 5px;
  margin-right: 5px;
  p {
    font-size: 14px;
    font-family: 'Space Mono', monospace;
  }

  .carousel-slide {
    padding: 0 !important;
  }
}

a:hover {
  text-decoration: none;
}

.my-flex-space-between {
  display: flex;
  justify-content: space-between;
}

