.footer {
  display: flex;
  justify-content: space-between;
  height: 250px;
  color: white;
  // margin-top: 50px;
  min-height: calc(100%-65px);
  background-size: cover;
}
.footer-links {
  display: flex;
  align-items: center;
  color: white;
  margin-top: 50px;
  margin-left: 100px;

}
.footer-links a {
  color: $dark-green;
  text-decoration: none;
  opacity: 0.7;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
  padding-bottom: 7px;
}


