<%= render 'shared/banner-small' %>

<div id="hide-filter-on-mobile">
  <%= render 'shared/filter', routes: @city%>
</div>

<div class="container">
  <div class="row" id="row-for-cards">
    <%= render 'shared/cards', routes: @routes %>
  </div>
</div>
<%= javascript_pack_tag "filter" %>
