<%= render 'shared/banner-small' %>
<%= render 'shared/filter', routes: @routes %>

<div class="container">
  <!-- <div class="row">
    <div class="create_new_route_btn"><%#= link_to "Create new Route", new_route_path, class: "btn btn-primary" %></div>
  </div> -->
  <div class="row" id="row-for-cards">
    <%= render 'shared/cards', routes: @routes %>
  </div>
</div>
