<%= simple_form_for([ route, review ]) do |form| %>
  <div class="new-review-box">
  <%= form.input :content, label: "Comment" %>
  <%= form.input :rating, as: :radio_buttons, collection: [['1', '1'], ['2', '2'], ['3', '3'], ['4', '4'], ['5', '5']] %>
  <%= form.button :submit, class: "btn btn-primary"%>
<% end %>
</div>
