
<!-- <script src="jquery.barrating.min.js"></script> -->

<%= simple_form_for([ route, review ], remote: true) do |form| %>
  <div class="new-review-box">
  <%= form.input :content, placeholder: "Comment", label: false, class: "review-form review-form-text"%>
  <%= form.input :rating, label: "Rating", as: :select, collection: [['1', '1'], ['2', '2'], ['3', '3'], ['4', '4'], ['5', '5']], class: "fa fa-star" %>
  <%= form.button :submit, class: "btn btn-primary review-button"%>
<% end %>
</div>

