.export-background {
  height: calc(100vh - 70px);
}

.export-container {
  background-color: white;
  border-radius: 3px;
  margin-top: 54px;
}

#export-info {
  background-color: #F4F4F4;
  color: black;
  border: 1px solid #d3d3d3;
  padding: 5px;
  // box-shadow: 2px 2px 4px 2px $light-gray;
  border-radius: 3px;
  padding: 20px;
  // border: 2px solid $light-green;
  // text-align: left !important;
  h1 {
    text-align: center;
  }
}

#export-info:hover {
  box-shadow: 4px 4px 8px 4px $light-gray;
}

#export-header {
  color: $dark-green;
  padding: 3px;
  border-radius: 2px;
  line-height: 1;
  text-align: center;
  h1 {
    border-bottom: 0.5px solid $dark-green;
    padding-bottom: 30px;
    color: black;
  }
}

#export-box {
  margin-top: 20px;
  width: 300px;
  margin-right: 110px;
}

.export-button-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-left: 70px;
}

.export-button {
  margin: 20px;
  width: 300px;
  // background-color: $dark-green;
  // opacity: 0.8;
  // border: 1px solid grey;
}

.export-button:hover {
  // background-color: $dark-green;
  // color: white;
  transition: ease 0.2s;
}

.export-maps {
  margin: 20px;
  width: 100%;
}

.export-maps:hover {
  // background-color: firebrick;
  transition: ease 0.2s;
  // border: 1px solid black;
}


.send-route-friend {
  input[type="email"], input[type="text"] {
    width: calc(100%);
    margin-bottom: 15px;
  }
}

#export {
  display: flex;
  justify-content: center;
  align-items: center;
}

.export {
  table, tbody, tr {
    width: 100%;
  }

  td {
    width: 50%;
  }
}

.submit-export-friend {
  width: 100%;
  margin-bottom: 20px;
}

.invite-friend {
  border-radius: 5px;
}

#export-box {
  .export-share-area {
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
    .row {
      margin-top: -48px;
    }
  }
}

.submit-export-friend {
  margin-top: 24px;
}

.export-info-container {
  margin-bottom: 13px;
}







